# vim ancillary files
*.un~
*.swp
*.swo

# local config
redis.conf

# jscoverage files
lib-instrumented
coverage.html

# other stuff
*.zip
*.gz
*.tar
*.log
.DS_Store?

# locally installed node modules
node_modules

